.HJ-sidebar{
    background-color: var( --gray-50); 
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 20vw;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    padding-top: 10px;
    transition: 0.5s;
    z-index: 999;
}


.HJ-sidebar .HJ-sidebar-title .HJ_MainTitle{
    color: var(--gray-60);
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    font-family: var( --roboto);
}
.HJ-sidebar .HJ-sidebar-title .HJ_MainTitle .HJ_logo{
    color: var(--gray-60);  
    font-size: 2rem;
}
.HJ-sidebar .HJ_Name{
    font-size: 1rem;
    color:var( --absolute-White) ;
    font-family: var(--open-sans);
}

.HJ-sidebar .HJ_role{
    font-size: 1rem;
    color:var(--gray-60) ;
    font-family: var( --roboto);
}
.HJ-sidebar .HJ-sidebar-list{
    list-style: none;
    margin-top: 50px;
    margin-right: 50px;

 
}
.HJ-sidebar .HJ-sidebar-list .HJ-sidebar-list-item {
    margin-bottom: 2.5rem;
    margin-left: 2.5rem;
    font-family: var( --open-sans);
    font-size: 1.25rem;
    font-style: normal;
    justify-content: flex-start;
}


.HJ-sidebar .HJ-sidebar-list .HJ-sidebar-list-item a{
    text-decoration: none;
    color:var(--light) ;
    display: flex; 
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;

} 

.HJ-sidebar .HJ-sidebar-list .HJ_logout{
    color:var(--light) ;
    display: flex; 
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}
@media screen and (max-width: 850px) {
   
    .HJ-sidebar {
        box-shadow: none;
        text-align: center;
        display: flex;
        flex-direction: column;
        background-color: var(--gray-50);
        width: 30%;
        position: absolute;
        top: 56px;
        border: 1 solid white;
        border-radius: none;
        opacity: 0;
        transition: 0.3s ease-in-out;

    }

    .HJ-sidebar.active {
        opacity: 1;
        transition: 0.5s ease-in-out;
    }

}