@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

.H-contacts {
    font-size: 18px;
    display: inline-block;
    background: #212431;
    color: #fff;
    line-height: 1;
    padding: 10px 0;
    margin-right: 6px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

.H-contacts:hover {
    background: #149ddd;
    cursor: pointer;
}

.H-nav a,
.H-nav a:focus{
    display: flex;
    align-items: center;
    color: #a8a9b4;
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
}
.H-nav a i,
.H-nav a:focus i{
    font-size: 24px;
    padding-right: 8px;
    color: #6f7180;
}
.H-nav a:hover{
    color: #fff;
}
.H-nav a i:hover{
    color: #149ddd !important
}